  .section-three {
   margin-top: 3rem;
  }
   
   .date {
      display: flex;
      gap: 1rem ;
    }
        
  label {  
  font: var(--Body-sm);
  color: var(--text-body) ; 
  display: block;
  margin-bottom: .5rem; 
  }

  .three-section {   
    border: solid 1px rgb(41, 8, 160);      
    display: grid;    
    grid-template-areas: 
    'a  a'
    'b  b'
    'c  d'    ; 
    gap: 1rem;   
    margin-top: 1.3rem; 
    border-style: none;

      input {
      font: var(--Body-sm);
      appearance: none;
      width: 100%;
      border-radius: .5rem;     
      padding: .75rem 1rem;  
      background: var(--shape-background); 
      border: .1rem solid #2d3642; color: #f1e8e8;     
      }   
  }
  
  .name {
    grid-area: a; 
    width: 35rem;     
    height: 3rem; 
    display: grid;     
  }  

  .alert {       
   grid-area: b;       
   margin-top: 1rem;     
   font-size: .75rem;
   color:var(--danger);
   display: flex;
   flex-direction: row; 
   gap: .5rem;
   width: 22.8rem;
   height: 1rem;  
    }    

  .e-mail {
    grid-area: c;    
  }

  .fone {
    grid-area: d;    
  }

  .section-four{
      margin-top: 3rem;
    border-top: 2px solid #2d3642;
    width: 35rem;
    height: 5.75rem;  

    input{
    display: none;  
    }

    span {
      color: var(--brand-light) ;
      font-weight: bold;
      text-decoration: underline;
    }
}

footer{ 
  width: 35rem;
  height: 14.25rem; 
}

.wrapper-footer{
  margin-top: 2.5rem;  
}

.div-footer{  
  display: flex;
  gap: .7rem;
  align-items: center;
  margin-bottom: .2rem;
}

.slide-label { 
  width: 1.25rem;
  height: 1.25rem;
  border-radius: .25rem;
  background-image: url(../assets/icons/Check-off.svg);
}
  input[type="checkbox"]:checked + .slide-label {  
  background-image: url(../assets/icons/Check-Blue.svg);
  transition: width 9s ease, 20s linear;
}

.action-wrapper{ 
display: flex;
justify-content: flex-end;
width: 560px;
}

.button-action{ 
  display: flex;
  width: 11.06rem;
  height: 3rem;   
  gap: .5rem;
  align-items: center;
  justify-content: center;
  
  label {
   margin-top: .4rem;   
   font-weight: bold;
  }

  img {
    width: 17.92px;
    height: 12.92px;
  } 
}

.backg {
background-color: var(--brand-dark);
border-radius: .5rem;
margin-top: 3rem;
}

.backg:hover{
 background-color: var(--shape-hover);
 transition: width 0.9s ease-in, background-color 0.3s linear;
 }   


 /* Projeto encerrado com sucesso, um passo a cada dia ! 
    Deus abençoe !!!!*/