* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}


:root {
  --font-family-leckerli: 'Leckerli One', sans-serif;
  --logo: 500 2.5rem var(--font-family-leckerli);

  --font-family-baloo: 'baloo 2', sans-serif;
  --Heading-md: 700 1.75rem var(--font-family-baloo);
  --Heading-sd: 500 1.125rem var(--font-family-baloo);
  --Heading-xs: 400 1.125rem var(--font-family-baloo);

  --font-family-open: 'open sans', sans-serif;
  --Body-md: 500 1rem var(--font-family-open);
  --Body-sm: 350 0.875rem var(--font-family-open);
  --Body-xs: 500 0.75rem var(--font-family-open);
  
  --brand-light:#59B2FF ;
  --brand-dark:#1D6FB6 ;
  --brand-mig:#3487CF ;

  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background:#131516;
  --shape-body:#212427;
  --shape-button:#37424f;
  --shape-hover:#42505e;  

  --text-body: #ecf0f3;
  --text-heading: #f9f9f9;
}

h1 {
  font: var(--Heading-md);
  color: var(--text-heading); 
}

h2 {
  font: var(--Heading-sd);
}

body {
  overflow: hidden;
  height: 100%;  
}

textarea, select, button{
    font: var(--Body-sm);
    appearance: none;
    width: 100%;
    border-radius: .5rem;     
    padding: .75rem 1rem;  
    background: var(--shape-background); border: .1rem solid #2d3642; color: #fff;     
    }    

    ::placeholder {
    color:var(--input-placeholder);
}
