#app {
  display: grid;
  grid-template-columns: 32.8% 67.2%;
  border-radius: .3rem;
  overflow: hidden; 
}

aside{
  padding: 1.25rem;   
}

.aside-container {
  display: flex;  
  max-width: 25rem;
  position: relative;
  margin-bottom: 1.25rem;   
  }

  .capa {    
    position: absolute;    
    margin-left: 3rem ;    
    margin-top: 3rem ;
  }

  .festa {
    width: 2.865rem;    
  }

.logo {  
  font: var(--logo);
  width: 21rem;
  height: 3.375rem;
  color: #FF598B;
  margin-top: .9rem;
}

.crie {  
  font: var(--Body-md);
  color: #F9F9F9;
  width: 21rem;
  height: 1.375rem;
  margin-top: .5rem;
 }

 .sobre {  
  border: solid 1px rgb(242, 0, 255);
  font: var(--Heading-sd);
  color: var(--text-heading);
  display: flex;
  gap: .75rem;
 } 
 
 main{  
  border: solid 1px rgb(242, 0, 255);
  overflow: auto;
  padding: 1.25rem;
  background-image: url(../assets/imagens/back01.jpg);  
  background-size: cover;
  width: 51.25rem;
  height: 142.187rem;
  margin: 1.25rem 1.25rem auto 1.25rem;  
  border-radius: .3rem;
}

  .main-container{
  display: grid;
  border: solid 1px blue;
  max-width: 51.25rem;
  border-radius: 3rem;  
  justify-content: center;  
  }
  
   .convite {
    width: 35rem;
    height: 2.81rem;
    margin-top: 5rem;    
    margin-bottom: 2.5rem;
    color: var(--text-heading);
    font: var(--Heading-md);
   }    
   



