


background: linear-gradient(to right, red 20%, yellow 20%, yellow 40%, green 40%, green 60%, blue 60%, blue 80%, purple 80%, purple 100%);
;
border: 20px solid #131516;
border-radius: 52px;




/* Invite */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 0px;
gap: 40px;

position: absolute;
height: 2275px;
left: 440px;
right: 20px;
top: 20px;

background: #212427;
border: 20px solid #131516;
border-radius: 12px;





/* Forms */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 48px;

width: 560px;
height: 2030px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;




/* Forms */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 48px;

width: 560px;
height: 2030px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 560px;
height: 500px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 158px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* calendar */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 5.21%;
bottom: 5.21%;

background: #869198;


/* Title */

width: 122px;
height: 20px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Form */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 16px;

width: 560px;
height: 452px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* TextInput */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 560px;
height: 79px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 37px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 560px;
height: 48px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 125px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #869198;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* TextInput */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 272px;
height: 79px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

width: 35px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 272px;
height: 48px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 138px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #869198;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* TextInput */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 272px;
height: 79px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Label */

width: 24px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 272px;
height: 48px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 138px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #869198;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SegmentedControl */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 272px;
height: 79px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Label */

width: 29px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Box */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;

width: 272px;
height: 48px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Shape */

position: absolute;
width: 129px;
height: 40px;
left: 5px;
top: 4px;

background: #2D3136;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Option */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 8px;

width: 130px;
height: 40px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* building-2 */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 5.21%;
bottom: 5.21%;

background: #59B2FF;


/* Presencial */

width: 70px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Option */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 8px;

width: 130px;
height: 40px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;
z-index: 2;


/* video */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 21.88%;
bottom: 21.88%;

background: #869198;


/* Online */

width: 44px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* TextInput */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 272px;
height: 79px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Label */

width: 34px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 272px;
height: 48px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 129px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #869198;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* TextArea */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 560px;
height: 167px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Label */

width: 64px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 560px;
height: 136px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 272px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #869198;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 560px;
height: 618px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 160px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* paintbrush-vertical */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 17.71%;
right: 17.71%;
top: 5.21%;
bottom: 5.63%;

background: #869198;


/* Title */

width: 124px;
height: 20px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Form */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 28px 16px;

width: 560px;
height: 570px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Colors */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 560px;
height: 75px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cor principal */

width: 84px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Items */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 12px;

width: 560px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ColorSelection */

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #59B2FF;
border-radius: 999px;


/* ColorSelection */

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #6A59FF;
border-radius: 999px;


/* ColorSelection */

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #B259FF;
border-radius: 999px;


/* ColorSelection */

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #FF59F9;
border-radius: 999px;


/* ColorSelection */

box-sizing: border-box;

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border: 2px solid #59B2FF;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #FF598B;
border-radius: 999px;


/* ColorSelection */

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #FF5959;
border-radius: 999px;


/* ColorSelection */

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #FF8B59;
border-radius: 999px;


/* ColorSelection */

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #FFCD59;
border-radius: 999px;


/* ColorSelection */

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #E1FF59;
border-radius: 999px;


/* ColorSelection */

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 9;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #59FF91;
border-radius: 999px;


/* ColorSelection */

margin: 0 auto;
width: 40px;
height: 40px;

background: #2D3136;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 10;
flex-grow: 0;


/* Circle */

position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2);
top: calc(50% - 28px/2);

background: #59FFF9;
border-radius: 999px;


/* Theme */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 560px;
height: 360px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Tema do evento */

width: 106px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Items */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 8px;

width: 560px;
height: 325px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 2px solid #59B2FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #B3B3B3;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #869198;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #869198;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #869198;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #869198;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #869198;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #869198;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #B3B3B3;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #869198;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 9;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #869198;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 10;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #869198;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ThemeSelection */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 4px 8px;
gap: 8px;

width: 134px;
height: 103px;

background: #2D3136;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 11;
flex-grow: 0;


/* Image */

width: 126px;
height: 64px;

background: url(.jpg), #869198;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 126px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* SwitchToggle */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 176px;
height: 79px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Estilo */

width: 35px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 176px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 48095946 */

box-sizing: border-box;

width: 64px;
height: 32px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1 */

position: absolute;
width: 24px;
height: 24px;
left: 4px;
top: calc(50% - 24px/2);

background: #363B40;


/* Escuro */

width: 44px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* FileInput */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 368px;
height: 79px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Label */

width: 84px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 368px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 12px;
gap: 8px;

width: 119px;
height: 40px;

background: #2D3136;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* upload */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector (Stroke) */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 9.38%;
bottom: 9.38%;

background: #59B2FF;


/* Label */

width: 71px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* upload */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Nenhum arquivo selecionado */

width: 237px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #869198;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 560px;
height: 246px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 195px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* contact */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 5.21%;
bottom: 5.21%;

background: #869198;


/* Title */

width: 159px;
height: 20px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Form */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 16px;

width: 560px;
height: 198px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* TextInput */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;
isolation: isolate;

width: 560px;
height: 103px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 40px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 560px;
height: 48px;

background: #1C1F21;
border: 1px solid #FF5959;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Placeholder */

width: 120px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #869198;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 365px;
height: 16px;
left: 0px;
top: 87px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* circle-alert */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector (Stroke) */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 5.21%;
bottom: 5.21%;

background: #FF5959;


/* Error message */

width: 106px;
height: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #FF5959;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* TextInput */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 272px;
height: 79px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

width: 41px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 272px;
height: 48px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 157px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #869198;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* TextInput */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 272px;
height: 79px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Label */

width: 57px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 272px;
height: 48px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 120px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #869198;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Footer */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px 0px 0px;
gap: 48px;

width: 560px;
height: 228px;

border-top: 1px solid #363B40;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Items */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 560px;
height: 92px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 0px;
gap: 12px;

width: 520px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 48095946 */

box-sizing: border-box;

width: 20px;
height: 20px;

background: #1C1F21;
border: 1px solid #59B2FF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* check */

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2);
top: calc(50% - 16px/2);



/* Vector (Stroke) */

position: absolute;
left: 13.54%;
right: 13.54%;
top: 21.88%;
bottom: 26.04%;

background: #59B2FF;


/* Text */

width: 488px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 0px;
gap: 12px;

width: 370px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 48095946 */

box-sizing: border-box;

width: 20px;
height: 20px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 338px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 0px;
gap: 12px;

width: 358px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 48095946 */

box-sizing: border-box;

width: 20px;
height: 20px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 326px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Action */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 8px;

width: 560px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 12px;

width: 177px;
height: 48px;

background: #1D6FB6;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ticket */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 17.71%;
bottom: 17.71%;

background: #FFFFFF;


/* Label */

width: 105px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #F9F9F9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* upload */

display: none;
width: 20px;
height: 20px;


